<div class="container content-container">
  <div class="tabs-outer">
    <div class="tabs-inner">
        <div class="todo-tab">
          <a [ngClass]="showTodo ? 'active' : ''" (click)="todoSelected()">
            To Do
          </a>
        </div>
        <div class="completedtoday-tab">
            <a [ngClass]="showCompleted ? 'active' : ''" (click)="completedSelected()">
              Completed Today
            </a>
        </div>
    </div>
  </div>
  <div class="jobs-container">
    <div *ngIf="!showCompleted">
      <input #jobInput class="form-control" placeholder="Enter new task..." (keyup.enter)="addJob(jobInput)">
      <div *ngIf="jobs" class="list-group">
        <div *ngFor="let job of activeJobs; let i = index;" class="list-group-item" id="job-{{i}}"> 
          <span id="name">
            {{job.description}}
          </span>
          <div class="float-right">
            <button class="btn btn-success" id="complete-button" (click)="completeJob(job)">
              <i class="fa fa fa-thumbs-up"></i>
            </button>
            <button class="btn btn-danger" (click)="removeJob(job)">
              <i class="fa fa fa-trash-o"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showCompleted">
      <div *ngIf="completedJobs.length > 0" class="list-group">
        <div *ngFor="let job of completedJobs;" class="list-group-item"> 
          <span>
            {{job.description}}
          </span>
        </div>
      </div>
      <div *ngIf="completedJobs.length === 0" class="alert alert-info" role="alert">
        No jobs ticked off yet.
      </div>
    </div>
  </div>
</div>
<div id="elon"></div>
<div id="astronaut"></div>