.content-container {
  padding-right: 0;
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}

.jobs-container {
    margin-left: 140px;
    margin-right: 140px;
}

#complete-button {
    margin-right: 1px;
}

  .jobs-container .list-group-item:last-child {
    margin-bottom: 30px;
  }

.tabs-outer {
  text-align: center;
  margin: 20px;
}

.tabs-inner {
  display: table;
  width: 100%;
}

  .tabs-inner a {
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
  }

  .tabs-inner a:hover {
    color: blue;
  }

  .tabs-inner .active {
    color: purple;
  }

.todo-tab {
  background-image: url('../../../assets/images/mars.svg');
}

.completedtoday-tab {
  background-image: url('../../../assets/images/jupiter.svg');
}

.todo-tab, .completedtoday-tab {
  width: 250px;
  height: 250px;
  background-size: 75%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: middle;
}

.spinner {
  margin: 30px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* Mobile */
@media only screen and (max-width: 600px) {
  .header-container .display-4 {
    font-size: 2rem;
   }

  .header-container .lead {
    font-size: 1rem;
  } 
}

  /* Mobile and medium sized screens */
@media only screen and (max-width: 992px) {
    .jobs-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-container > .container {
      margin-left: 0; 
      padding-left: 20px;
  }
}