/* Heading */ 
.header-container {
  margin-bottom: 0;
}

  .header-container > .container {
    margin-left: 140px;
  }

/* Pills */
.jobs-pills {
  margin-bottom: 30px;
}

  .jobs-pills a.active:hover {
    color: white;
  }

  .jobs-pills .nav-item:hover {
    cursor: pointer;
  }

/* Job container */
.jobsContainer {
    margin-left: 140px;
    margin-right: 140px;
}

#name { 
    vertical-align: middle;
}

#completeButton {
    margin-right: 1px;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .jobsContainer {
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-container > .container {
      margin-left: 20px;
  }
}

/* Spinner */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}