<div class="register-container">
  <div *ngIf="successful" class="alert alert-success">
      You have been successfully registered. Please <a routerLink="/login">login</a> to continue.
  </div>
  <form #f="ngForm" (ngSubmit)="register(f.value)">
    <div class="form-group">
      <label for="username">Username</label>
      <input required #username="ngModel" [(ngModel)]="user.username" name="username" id="username" class="form-control">
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input required #password="ngModel" [(ngModel)]="user.password" name="password" id="password" type="password" class="form-control">
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          Password is required.
      </div>
    </div>
    <div class="form-group">
        <label for="repeatedPassword">Repeat Password</label>
        <input required #repeatedPassword="ngModel" [(ngModel)]="user.repeatedPassword" name="repeatedPassword" id="repeatedPassword" type="password" class="form-control">
        <div *ngIf="repeatedPassword.touched && repeatedPassword.invalid" class="alert alert-danger">
            Repeated Password is required.
        </div>
        <div *ngIf="repeatedPassword.touched && repeatedPassword.value != password.value" class="alert alert-danger">
          Repeated Password does not match Password.
        </div>
      </div>
    <button *ngIf="!loading" [disabled]="f.invalid || repeatedPassword.value != password.value" type="submit" class="btn btn-primary">Register</button>
    <button *ngIf="loading" class="btn btn-primary">
      <span class="spinner-border spinner-border-sm"></span>
    </button>
    <div *ngIf="invalidAttempt" class="alert alert-danger">
      {{errorMessage}}
    </div>
  </form>
</div>