.footer {
    text-align: center;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: rgba(255,255,255,0.5);
}

    .footer a {
        color: rgba(255,255,255,0.5);
        text-decoration: underline;
    }

    .footer a:hover {
        color: blue;
    }

    .footer p {
        margin: 10px auto;
    }