<nav [ngClass]="stickyActivated ? 'navbar navbar-expand-lg navbar-dark navbar-container sticky' : 'navbar navbar-expand-lg navbar-dark navbar-container'">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa fa-rocket"></i>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item inside-left" *ngIf="this.persister.get('user_name')">
          <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item inside-right" *ngIf="!this.persister.get('user_name')">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="!this.persister.get('user_name')">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item inside-right" id="user-nickname" *ngIf="this.persister.get('user_name')">
          <p>{{this.persister.get('user_name')}}</p>
        </li>
        <li class="nav-item" *ngIf="this.persister.get('user_name')">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
      </ul>
    </div>
  </div>
</nav>