<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-container">
  <a class="navbar-brand" routerLink="">
    <!-- <span class="pencil-icon"><i class="fa fa-pencil"></i></span> -->
    MyChecklist
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="userName">
        <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="!userName" routerLink="/login" class="btn btn-danger my-2 my-sm-0" type="button">Login</button>
      <li class="nav-item" id="user-nickname" *ngIf="userName">{{userName}}</li>
      <button *ngIf="userName" class="btn btn-danger my-2 my-sm-0" type="button" (click)="auth.logout()">Logout</button>
    </form>
  </div>
</nav>