@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.screen-content {
  min-height: 100vh;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #0ac8f8, #081866);
  z-index: 0;
}

.router-container, app-footer {
  z-index: 1;
  position: relative;
}

#elon {
  position: fixed;
  bottom: 0;
  left: -250px;
  transition: 2s;
}

  #elon img {
    width: 250px;
  }
  
  .show-elon {
    transform: translateX(200%);
  }