<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" routerLink="/to-do" routerLinkActive="active">To do</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/completed-today" routerLinkActive="active">Completed Today</a>
  </li>
</ul>
<div id="loading-container" *ngIf="loading">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
  </div>
<div id="jobsContainer" *ngIf="!loading">
  <input #jobInput class="form-control" placeholder="Enter new task..." (keyup.enter)="addJob(jobInput)">
  <div *ngIf="jobs" class="list-group">
    <div @jobAnimation *ngFor="let job of jobs; let i = index;" class="list-group-item" id="job-{{i}}"> 
      <span id="name">{{ job.name }}</span>
      <div class="float-right">
        <button class="btn btn-success" id="completeButton" (click)="completeJob(job)"><i class="fa fa fa-thumbs-up"></i></button>
        <button class="btn btn-danger" (click)="removeJob(job)"><i class="fa fa fa-trash-o"></i></button>
      </div>
    </div>
  </div>
</div>