button {
    outline: 0;
}

#jobsContainer {
    margin-left: 100px;
    margin-right: 100px;
}

#name { 
    vertical-align: middle;
}

#completeButton {
    margin-right: 1px;
}

h1 {
    margin: 30px auto;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #jobsContainer {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 10px;
    }
}