
<div id="jobsContainer">
  <input #jobInput class="form-control" placeholder="Enter new task..." (keyup.enter)="addJob(jobInput)">
  <div *ngIf="jobs" class="list-group">
    <div @jobAnimation *ngFor="let job of jobs; let i = index;" class="list-group-item" id="job-{{i}}"> 
      <span id="name">{{ job.name }}</span>
      <div class="float-right">
        <button class="btn btn-success" id="completeButton" (click)="completeJob(job)"><i class="fa fa fa-thumbs-up"></i></button>
        <button class="btn btn-danger" (click)="removeJob(job)"><i class="fa fa fa-trash-o"></i></button>
      </div>
    </div>
  </div>
</div> 