<div class="login-container">
  <form #f="ngForm" (ngSubmit)="login(f.value)">
    <div class="form-group">
      <label for="username">Username</label>
      <input required #username="ngModel" [(ngModel)]="user.username" name="username" id="username" class="form-control">
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input required #password="ngModel" [(ngModel)]="user.password" name="password" id="password" type="password" class="form-control">
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          Password is required.
      </div>
    </div>
    <button *ngIf="!loading" [disabled]="f.invalid" type="submit" class="btn btn-primary">Login</button>
    <button *ngIf="loading" class="btn btn-primary">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
    <div *ngIf="invalidAttempt" class="alert alert-danger">
      {{errorMessage}}
    </div>
  </form>
</div>